<div class="flex flex-col justify-between h-screen">
  <app-contact-search></app-contact-search>
  <div class="flex flex-row justify-around dashboard-section">
    <app-contact-filter></app-contact-filter>
    <app-contact-list></app-contact-list>
    <button mat-fab color="primary" (click)="onAddUser()" class="fav-button">
      <mat-icon>person_add</mat-icon>
    </button>
  </div>
</div>