body
  background-color: #fafafa
  color: grey
  margin: 0px

.h-screen
  height: 100vh

.w-screen
  width: 100vw
/* scrollbar nice */
::-webkit-scrollbar
  width: 8px
  height: 8px

::-webkit-scrollbar-thumb
  background: #9E9E9E
  border-radius: 10px

::-webkit-scrollbar-thumb:hover
  background: #616161

.flex
  display: flex

.flex-col
  flex-direction: column

.flex-row
  flex-direction: row

.justify-between
  justify-content: space-between

.justify-around
  justify-content: space-around

.w-75
  width: 75vw

.h-70
  height: 70vh

.overflow-scroll
  overflow: scroll

.rounded
  border-radius: 8px

.mt-1
  margin-top: 1rem

.cursor-pointer
  cursor: pointer

.self-end
  align-self: flex-end