<div>
  <h3>{{ userDataEntry.user ? 'Edit User' : 'New User'}}</h3>
</div>
<div class="flex flex-col">
  <form class="flex flex-col overflow-scroll h-70" novalidate [formGroup]="userDataForm">
    <mat-form-field appearance="outline" *ngFor="let field of userData | keyvalue">
      <input matInput placeholder="{{field.key}}" value="{{field.value}}"
      formControlName="{{field.key}}">
    </mat-form-field>
  </form>
  <button mat-flat-button color="primary" (click)="onSaveUser()" class="mt-1 self-end">
    Save
  </button>
</div>
