<div class="header">
  <mat-form-field floatLabel="never" class="input-search">
    <input matInput type="text" (keyup)="onSearch($event.target.value)" placeholder="Search">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>