.header
  height: 20vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background-color: dodgerblue

.input-search
  width: 30vw
  background-color: white
  border-radius: 60px
  padding-left: 1rem
  padding-right: 1rem
